body {
    background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
}

.container {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.est {
    font-style: italic;
}

.center { 
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0px auto 15px auto;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img {
    margin: auto;
}

article, img, h1 {
    display: block;
}

section {
    padding-bottom: 10px;
}

article {
    margin: 10px 0px 10px 0px;
}

.flavor {
    display: inline;
    text-align: left;
}

.price {
    margin: 0;
    display:inline;
    float: right;
}

.item {
    display: block;
    font-size: 18px;
}

.p {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}